@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #010101; */
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.navbar {
  height: 90px;
  background-color: rgb(0, 0, 0);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo i {
  color: #0aa5ff;
  font-size: 22px;
}

.navbar .logo a {
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-left: 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-links {
  display: flex;
  gap: 24px;
  border-right: 1px solid #999999;
  padding-inline: 24px;
}

.menu-links a {
  font-weight: 500;
  color: #ffffff;
  padding: 8px 16px;
}
.menu-links a:hover {
  color: rgb(255, 0, 0);
}
.log-in {
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid black;
  transition: 0.2s;
}
.log-in:hover {
  background-color: #d4dadd;
  color: rgb(255, 0, 0);
}

.menu-btn {
  font-size: 32px;
  color: rgb(255, 255, 255);
  display: none;
  cursor: pointer;
}

@media (max-width: 53rem) {
  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

/*Body Page1*/
.bsect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(153, 168, 240);
  background-size: 'cover';
  background-position: 'center';
  height: 100vh;
  width: 100%;
}

.htg {
  font-size: 4.2rem;
  font-weight: 200;
  font-style: sans-serif;
  padding: 3rem;
  align-items: center;
}

.ptg {
  display: block;
  font-weight: 200;
  font-style: italic;
  font-size: 2.8rem;
  align-items: center;
}
